#stuff {
    background-color:#B6110541;
    margin: auto;
    border-radius: 25px;
    width: 0%;
    height: 60%;
}
#menu{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#menu p {
    padding: 5%;
}
#images img{
    padding: 5%;
    padding-left: 13%;
    width: 50%;
    height: 60%;
}
main{
    background-image: url("../images/AudiF1CarIsGoated.png");
    background-position: center;
    padding-bottom: 20px;
}