#stuff {
    background-color:#B61105;
    opacity: 0.2; 
    margin: auto;
    border-radius: 25px;
    width: 50%;
    height: 60%;
}
#menu{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#menu p {
    padding: 20px;
}