<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./catalogueItem.css" rel="stylesheet">
    <link href="../main.css" rel="stylesheet">
    <title>catalogue item</title>
</head>
<body>
    <!--Footer-->
    <header>
        <div class="container">
            <div class="logo"><img src="../images/logo.png" alt=""></div>
            <nav>
                <a class="" href="#">Home</a>
                <a class="" href="#">Contacts</a>
                <a class="" href="#">About us</a>
                <a class="" href="#">Catalogue</a>
            </nav>
        </div>
    </header>

    <!--Main-->
    <main>

    </main>

    <!--Footer-->
    <footer>
        <div class="container">
            <div class="footer-box">
                <div class="footer-logo">Logo</div>
                <div class="footer-main">
                    <div>Anderle.Corp@gmail.com</div>
                    <div>+420 324 344 111</div>
                </div>

                <div class="footer-bottom">© 2024 Matěj Foltín, Vojtěch Anderle, Hlib Arseniuk, all rights received</div>
            </div>
        </div>
    </footer>

    <!--Scripts-->
    <script src="../main.js"></script>
    <script src="./catalogueItem.js"></script>
</body>
</html>