<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./shipping.css" rel="stylesheet">
    <link href="../main.css" rel="stylesheet">
    <title>Shipping</title>
</head>
<body>
    <!--Header-->
    <header>
        <div class="container">
            <div class="logo"><img src="../images/logo.png" alt=""></div>
            <nav>
                <a class="" href="../home/home.html">Home</a>
                <a class="" href="../contacts/contacts.html">Contacts</a>
                <a class="" href="../aboutus/aboutus.html">About us</a>
                <a class="" href="../catalogue/catalogue.html">Catalogue</a>
            </nav>
        </div>
    </header>

    <!--Main-->
    <main>
        <div class="__animate__" id="menu">
            <p id="cartName">Cart</p>
            <p id="ShippingName">Shipping</p>
            <p id="PaymentName">Payment</p>
            <p id="DeliveryInfoName">Delivery information</p>
        </div>
        <div id="stuff">
            <h1>Shipping Place</h1>
            <form>
                <h3 id="nameAnderleShop">Anderle Shop</h3>
                <div class="UnderAnderleShopMain">
                    <div class="checkbox">
                        <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                        <label for="AnderleShopMain">Anderle Shop Monaco</label>
                    </div>
                    <br>
                    <div class="checkbox">
                        <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                        <label for="AnderleShopMain">Anderle Shop Prague</label>
                    </div>
                    <br>
                    <div class="checkbox">
                        <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                        <label for="AnderleShopMain">Anderle Shop Florida</label>
                    </div>
                    <br>
                    <div class="checkbox">
                        <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                        <label for="AnderleShopMain">Anderle Shop Los Angeles</label>
                    </div>
                    <br>
                    <div class="checkbox">
                        <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                        <label for="AnderleShopMain">Anderle Shop Gothenburg</label>
                    </div>
                    <br>
                    <div class="checkbox">
                        <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                        <label for="AnderleShopMain">Anderle Shop San Francisco</label>
                    </div>
                    <br>
                    <div class="checkbox">
                        <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                        <label for="AnderleShopMain">Anderle Shop Brno</label>
                    </div>
                    <br>
                </div>
                <div class="checkbox">
                    <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                    <label for="AnderleShopMain"><h3>ANDERLEHAUS</h3></label>
                </div>
                <br>
                <div class="checkbox">
                    <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                    <label for="AnderleShopMain"><h3>Home Delivery</h3></label>
                </div>
            </form>
            <a id="continueButton" href="../payment/payment.html">Continue</a>
            

        </div>
    </main>

    <!--Footer-->
    <footer>
        <div class="container">
            <div class="footer-box">
                <div class="footer-logo"><img src="../images/logo.png" alt="" srcset=""></div>
                <div class="footer-main">
                    <div>Anderle.Corp@gmail.com</div>
                    <div>+420 324 344 111</div>
                </div>

                <div class="footer-bottom">© 2024 Matěj Foltín, Vojtěch Anderle, Hlib Arseniuk, all rights received</div>
            </div>
        </div>
    </footer>

    <!--Scripts-->
    <script src="../main.js"></script>
    <script src="./shipping.js"></script>
</body>
</html>
