<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./catalogue.css" rel="stylesheet">
    <link href="../main.css" rel="stylesheet">
    <title>catalogue</title>
</head>
<body>
    <!--Footer-->
    <header>
        <div class="container">
            <div class="logo">Logo</div>
            <nav>
                <a class="" href="#">Home</a>
                <a class="" href="#">Contacts</a>
                <a class="" href="#">About us</a>
                <a class="" href="#">Catalogue</a>
            </nav>
        </div>
    </header>

    <!--Main-->
    <main>
        <div class="sliderWrapper">
            <div class="sliderTape">
                <div class="sliderItem"><img src="./img/eliteBerli.png" alt=""></div>
                <div class="sliderItem"><img src="./img/florbalka.png" alt=""></div>
                <div class="sliderItem"><img src="./img/eliteBerli.png" alt=""></div>
                <div class="sliderItem"><img src="./img/florbalka.png" alt=""></div>
                <div class="sliderItem"><img src="./img/eliteBerli.png" alt=""></div>
                <div class="sliderItem"><img src="./img/florbalka.png" alt=""></div>
                <div class="sliderItem"><img src="./img/eliteBerli.png" alt=""></div>
                <div class="sliderItem"><img src="./img/florbalka.png" alt=""></div>
            </div>
            <div class="sliderButtons">
                <button class="sliderButton" id="sliderButtonLeft"></button>
                <button class="sliderButton" id="sliderButtonRight"></button>
            </div>
        </div>

        <div class="shopWrapper">
            <div class="shopSearcher">
                <div class="shopSearcherWrapper container">
                    <div class="shopSearcherOrdering">By Bigest Ordering</div>
                    <input placeholder="Search" class="shopSearcherSearch"/>
                </div>
            </div>
            <div class="shopLayout">
                <div class="shopFilters">
                    Filters
                </div>
                <div class="shopCatalogue">

                    <div class="shopItem">
                        <img class="shotItemPhoto" src="./img/balidPhotoTest.png" alt="">
                        <div class="shotItemData">
                            <div class="shopItemTitle">RB 20 Checo Perez edition</div>

                            <div class="shopItemDescription">
                                <div class="shopItemDescriptionActive">
                                    <div class="shopItemRating">
                                        <img src="./img/starsRed.png"  class="shopItemRatingStars" alt="">
                                        <img src="./img/starsGery.png"  class="shopItemRatingStars" alt="">

                                    </div>
                                    <div class="shopItemPrice">$15 000 000</div>
                                </div>
                                <button class="shopItemButton">Show</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </main>

    <!--Footer-->
    <footer>
        <div class="container">
            <div class="footer-box">
                <div class="footer-logo">Logo</div>
                <div class="footer-main">
                    <div>Anderle.Corp@gmail.com</div>
                    <div>+420 324 344 111</div>
                </div>

                <div class="footer-bottom">© 2024 Matěj Foltín, Vojtěch Anderle, Hlib Arseniuk, all rights received</div>
            </div>
        </div>
    </footer>

    <!--Scripts-->
    <script src="../main.js"></script>
    <script src="./catalogue.js"></script>
</body>
</html>