.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    height: 75px;
}

/* nav */
.navWrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navWrapper a img {
    height: 30px;
    margin-left: 25px;
    transition: .5s;

}
.navWrapper a img:hover {
    transition: .5s;
    transform: scale(1.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav a {
    display: flex;
    justify-content: center;
    position: relative;
    transition: .5s;
    text-decoration: none;
    color: var(--main-white);

    margin: 10px 10px;
}
.nav a.active,
.nav a:hover {
    transition: .5s;
    color: var(--main-red);
}
.nav a.active:before,
.nav a:hover:before {
    content: '';
    position: absolute;
    width: 75%;
    height: 2px;
    background-color: var(--main-red);
    bottom: -5px;
}


.cart {
    width: 30px;
    margin-left: 25px;
}
