<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../payment/payment.css" rel="stylesheet">
    <link href="../main.css" rel="stylesheet">
    <title>Payment</title>
</head>
<body>
    <!--Header-->
    <header>
        <div class="container">
            <div class="logo"><img src="../images/logo.png" alt=""></div>
            <nav>
                <a class="" href="../home/home.html">Home</a>
                <a class="" href="../contacts/contacts.html">Contacts</a>
                <a class="" href="../aboutus/aboutus.html">About us</a>
                <a class="" href="../catalogue/catalogue.html">Catalogue</a>
            </nav>
        </div>
    </header>

    <!--Main-->
    <main>
        <div class="__animate__" id="menu">
            <p id="cartName">Cart</p>
            <p id="ShippingName">Shipping</p>
            <p id="PaymentName">Payment</p>
            <p id="DeliveryInfoName">Delivery information</p>
        </div>
        <div id="stuff">
            <h1>Payment Method</h1>
            <form>
                <div class="checkbox">
                    <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                    <label for="AnderleShopMain">Online Card</label>
                </div>
                <div class="checkbox">
                    <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                    <label for="AnderleShopMain">Card on COD</label>
                </div>
                <div class="checkbox">
                    <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                    <label for="AnderleShopMain">QR code</label>
                </div>
                <div class="checkbox">
                    <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                    <label for="AnderleShopMain">Cash on COD</label>
                </div>
                <div class="checkbox">
                    <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                    <label for="AnderleShopMain">Google Pay</label>
                </div>
                <div class="checkbox">
                    <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                    <label for="AnderleShopMain">Apple pay</label>
                </div>
                <div class="checkbox">
                    <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                    <label for="AnderleShopMain">PayPal</label>
                </div>
                <div class="checkbox">
                    <input type="radio" id="AnderleShopMain" name="AnderleShopMain" value="mainer">
                    <label for="AnderleShopMain">ANDERLEPAY</label>
                </div>
            </form>
            <a id="continueButton" href="../deliveryInfo/deliveryInfo.html">Continue</a>
        </div>
    </main>

    <!--Footer-->
    <footer>
        <div class="container">
            <div class="footer-box">
                <div class="footer-logo"><img src="../images/logo.png" alt="" srcset=""></div>
                <div class="footer-main">
                    <div>Anderle.Corp@gmail.com</div>
                    <div>+420 324 344 111</div>
                </div>

                <div class="footer-bottom">© 2024 Matěj Foltín, Vojtěch Anderle, Hlib Arseniuk, all rights received</div>
            </div>
        </div>
    </footer>

    <!--Scripts-->
    <script src="../main.js"></script>
    <script src="./catalogueItem.js"></script>
</body>
</html>