/* AnderleHaus.css */

body {
  background-color: black;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
/*Main*/
main {
  padding: 30px 0;
}

.left-column {
  width: 45%;
  float: left;
  padding-right: 30px;
}

.right-column {
  width: 55%;
  float: right;
  padding-left: 30px;
}

.info-text {
  margin-bottom: 20px;
  font-size: 16px;
}

.info-text strong {
  font-weight: bold;
}

.map-container {
  text-align: center;
}

.map {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* Responsive design */
@media screen and (max-width: 800px) {
  .container {
      width: 90%;
  }

  .left-column {
      width: 100%;
      float: none;
      padding-right: 0;
  }

  .right-column {
      width: 100%;
      float: none;
      padding-left: 0;
  }

  .map-container {
      margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer-box {
      flex-direction: column;
  }

  .footer-main {
      flex-direction: column;
      align-items: flex-start;
  }

  .footer-main div {
      margin-bottom: 10px;
  }
}