<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../deliveryInfo/deliveryInfo.css" rel="stylesheet">
    <link href="../main.css" rel="stylesheet">
    <title>Delivery information</title>
</head>
<body>
    <!--Header-->
    <header>
        <div class="container">
            <div class="logo"><img src="../images/logo.png" alt=""></div>
            <nav>
                <a class="" href="#">Home</a>
                <a class="" href="#">Contacts</a>
                <a class="" href="#">About us</a>
                <a class="" href="#">Catalogue</a>
            </nav>
        </div>
    </header>

    <!--Main-->
    <main>
        <div class="__animate__" id="menu">
            <p id="cartName">Cart</p>
            <p id="ShippingName">Shipping</p>
            <p id="PaymentName">Payment</p>
            <p id="DeliveryInfoName">Delivery information</p>
        </div>
        <div id="stuff">
            <h1>Delivery information</h1>
            <form>
                <div></div>
                <div id="input">
                    <label for="firstName">Full Name</label>
                    <input type="text" name="firstName" id="firstName">
                </div>
                <div id="input">
                    <label for="firstName">E-mail</label>
                    <input type="text" name="firstName" id="firstName">
                </div>
                <div id="input">
                    <label for="firstName">Phone</label>
                    <input type="text" name="firstName" id="firstName">
                </div>
                <div id="input">
                    <label for="firstName">Adress</label>
                    <input type="text" name="firstName" id="firstName">
                </div>
                <div id="input">
                    <label for="firstName">Postal code</label>
                    <input type="text" name="firstName" id="firstName">
                </div>
                <div id="input">
                    <label for="firstName">AnderlePayCode</label>
                    <input type="text" name="firstName" id="firstName">
                </div>
            </form>
            <a id="continueButton" href="../deliveryInfo/deliveryInfo.html">Submit</a>
        </div>
    </main>

    <!--Footer-->
    <footer>
        <div class="container">
            <div class="footer-box">
                <div class="footer-logo"><img src="../images/logo.png" alt="" srcset=""></div>
                <div class="footer-main">
                    <div>Anderle.Corp@gmail.com</div>
                    <div>+420 324 344 111</div>
                </div>

                <div class="footer-bottom">© 2024 Matěj Foltín, Vojtěch Anderle, Hlib Arseniuk, all rights received</div>
            </div>
        </div>
    </footer>

    <!--Scripts-->
    <script src="../main.js"></script>
    <script src="./catalogueItem.js"></script>
</body>
</html>