<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="aboutus.css" rel="stylesheet">
    <link href="../main.css" rel="stylesheet">
    <title>aboutus</title>
</head>
<body>
    <!--Footer-->
    <header>
        <div class="container">
            <div class="logo">Logo</div>
            <nav>
                <a class="" href="#">Home</a>
                <a class="" href="#">Contacts</a>
                <a class="" href="#">About us</a>
                <a class="" href="#">Catalogue</a>
            </nav>
        </div>
    </header>

    <!--Main-->
    <main>
        <div class="container aboutUsWrapper">
            <div class="content">
              <h1>Welcome to the Anderle Shop</h1>
              <h2>Co jsme zač</h2>
              <p>Vítejte v Anderle Shop, unikátním obchodním ústavu, který nabízí zážitky, jež jsou stejně vzrušující jako závodní okruhy Formule 1. Naše zařízení, situované v srdci města, je více než jen prodejna; je to brána, kde se setkávají šampioni ze všech koutů multivesmíru.</p>
              <h2>Naše Produkty:</h2>
              <ul>
                <li><b>Formule 1</b>: Nabízíme exkluzivní modely vozů Formule 1, které jsou symbolem rychlosti a inovace.</li>
                <li><b>Volanty</b>: Naše volanty jsou vyrobeny s nejvyšší precizností, aby poskytovaly autentický zážitek z řízení.</li>
                <li><b>Berle</b>: Pro ty, kteří potřebují podporu, máme širokou škálu berli, které kombinují funkčnost s designem.</li>
                <li><b>Florbalky</b>: Sportovní nadšenci u nás najdou florbalky, které jsou synonymem pro kvalitu a odolnost.</li>
                <li><b>Licencované Kradené Účty od LoL</b>: Pro hráče League of Legends nabízíme účty, které otevírají nové možnosti ve hře.</li>
              </ul>
              <h2>Naše Spolupráce:</h2>
              <p>Jsme hrdí na naše partnerství s týmem <span class="red-bull">Red Bull</span>, které nám umožňuje být součástí závodní elity. Tato spolupráce nám přinesla nejen prestiž, ale i přátelství s <span class="red-bull">Maxem Verstappenem</span>, který je nejen naším ambasadorem, ale také pravidelným zákazníkem.</p>
              <h2>Ocenění</h2>
              <p>Byli jsme poctěni oceněním za nejlepší obchod, které nám předal sám <span class="red-bull">Max Verstappen</span>. Tento moment byl vrcholem naší práce a odhodlání poskytovat nejlepší služby a produkty.</p>
              <div class="image-container">
                <img src="./obrázek obchodu.png" alt="Obrázek 1">
                <div class="overlay">
                  Obrázek 1
                </div>
              </div>
              <div class="image-container">
                <img src="./image 38.png" alt="Obrázek 2">
                <div class="overlay">
                  Obrázek 2
                </div>
              </div>
            </div>
          </div>
    </main>

    <!--Footer-->
    <footer>
        <div class="container">
            <div class="footer-box">
                <div class="footer-logo">Logo</div>
                <div class="footer-main">
                    <div>Anderle.Corp@gmail.com</div>
                    <div>+420 324 344 111</div>
                </div>

                <div class="footer-bottom">© 2024 Matěj Foltín, Vojtěch Anderle, Hlib Arseniuk, all rights received</div>
            </div>
        </div>
    </footer>

    <!--Scripts-->
    <script src="../main.js"></script>
    <script src="../contacts.js"></script>
</body>
</html>